<footer>
    <div class="footer-container">
      <div class="footer-section">
        <a href="/aboutus"><h3>About Us</h3></a>
        <p>TempleConnect is a Religious website.
           That provides a bridge between the religious Temples across the India.
            And gives information about the Temples architecture,also represents the culture of India.</p>
      </div>
      <div class="footer-section">
        <div class="quick-links">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="#">nearbyme</a></li>
            <li><a href="/learn">learn more</a></li>
            <!-- <li><a href="">Contact Us</a></li> -->
          </ul>
        </div>
      </div>
      <div class="footer-section">
        <h3>Contact</h3>
        <p>Email: templeconnect@gmail.com</p>
        <p>Phone: 123-456-7890</p>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <div class="social-links">
          <a href="#" class="social-icon" id="facebook"><img src="/static/images/facebook.jpg/" alt="Facebook"></a>
          <a href="#" class="social-icon" id="twitter"><img src="/static/images/twitter.jpg/" alt="Twitter"></a>
          <a href="#" class="social-icon" id="instagram"><img src="/static/images/instagram.jpg" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </footer>
