<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> new Document </title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam dignissimos quidem voluptas, error obcaecati expedita nemo debitis at id consequuntur deserunt enim ipsum in beatae odit amet, itaque quia? Qui.</p>
    <img src="/static/images/sadhu.jpg/" alt="sadhu photo">
    <img src="/static/images/googleimage.jpg" alt="google photo">

</body>
</html>